a {
/*   text-decoration-style : solid; */
/*   text-decoration-style : double; */
/*   text-decoration-style : dotted; */
/*   text-decoration-style : dashed; */
/*   text-decoration-style : wavy; */
     text-decoration-line : none;
}
a:link {
  color : pink;
}
a:visited {
  color : black;
}
a:hover {
  color : red;
}
a:active {
  color : green
}
