a:link {
  color : lightseagreen;
}
a:visited {
  color : pink;
}
a:hover {
  color : blue;
}
a:active {
  color : red
}
a {
/*   text-decoration-style : solid; */
/*   text-decoration-style : double; */
/*   text-decoration-style : dotted; */
/*   text-decoration-style : dashed; */
/*   text-decoration-style : wavy; */
     text-decoration-line : none;
}
